.buttonContainer {
  padding: 10px;
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  width: 15vw;
  height: 15vw;
  border-radius: 15vw;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.buttonContainer button {
  background: #7a997e;
  border-radius: 25vw;
}

.cameraButton {
  width: 20vw;
  height: 20vw;
  margin: 8vw 8vw;
}

img {
  flex-shrink: 0;
  min-width: 80%;
  min-height: 80%;
}
