.buttonContainer {
    padding: 10px;
    width: 100%;
    height: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

button {
    width: 15vw;
    height: 15vw;
    border-radius: 15vw;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 15px;
}

.cameraButton {
    width: 25vw;
    height: 25vw;
    border-radius: 25vw;
}

img {
    flex-shrink: 0;
    min-width: 80%;
    min-height: 80%;
}