.userstats {
  display: inline-flex;
  height: 10vh;
  box-shadow: 0px 1px 1vh 0px black;
  z-index: 1;
  position: relative;
}

.userstats .row {
  height: 100%;
}

.levelcol .col {
  width: 90vw;
}

.username.row {
  color: #222;
  font-family: "Dogica Pixel", sans-serif;
  font-size: 1.2em;

  p {
    text-align: left;
    margin: auto 0;
    padding: 0;
  }
}

.levelcol.col {
  margin: auto;
}

.levelcol.col .xpbar.row .progress {
  text-align: center;
  width: 70vw;
  height: 2vh;
  margin: auto 0;
}

.levelcol.col .xpbar.row .progress .progress-bar {
  margin: 0 0 0 -11px;
  background-color: #6e9e9c;
}

.levelcol .row {
  height: 50%;
}

.avatar.col {
  padding: 0px;
  text-align: left;
}

.avatar img {
  min-width: unset;
  width: 10vh;
  padding: 1vh;
}
