.userstats {
  display: inline-flex;
  height: 10vh;
  box-shadow: 0px 1px 1vh 0px black;
  z-index: 1;
  position: relative;
}

.userstats .row {
  height: 100%;
}

.levelcol .col {
  width: 90vw;
}

.username.row {
  color: #222;
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2em;

  p {
    text-align: left;
    margin: auto 0;
    padding: 0;
  }
}

.levelcol.col {
  margin: auto;
}

.levelcol.col .xpbar.row .progress {
  text-align: center;
  width: 70vw;
  height: 2vh;

  margin: auto 0;
}

.levelcol .row {
  height: 50%;
}

.avatar.col {
  padding: 0px;
  text-align: left;
}

.avatar img {
  min-width: unset;
  width: 10vh;
  padding: 1vh;
}
